<div class="card mb-2" style="max-width: 475px;">


<h1><%= raw @coffee.name %></h1>

<p><%= @coffee.amount %></p>

<p><%= raw @coffee.detail %></p>

<p><img src="<%= (url_for(@coffee.image))%>", width="350" height="400"></p>

</div>

<!-- <#% if admin_signed_in? %>
 -->
<ul>
  <li><%= link_to "Edit",  edit_admin_coffee_path(@coffee) %></li>
  <li><%= link_to "Destroy", admin_coffee_path(@coffee),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
<!-- <#% else %> -->
   <%= link_to "home page",   admin_coffees_path(@coffee) %>
<!-- <#% end %>   -->
