<div class="card">
  <div class="card-header">
   <ul class="row order-display title">
      <li class="col m2">User</li>   
      <li class="col m2">Order</li>
      <li class="col m2">Total</li>    
      <li class="col m4">Time</li>
    </ul>
  </div><br>
 <% if current_user.admin %>
    <div class="col-lg-4 offset-lg-8">   
       <form action="/admin/search">
          <input type="text" placeholder="search user ?" name="search">
          <button type="submit">Search</button>
       </form>
    </div>
  <%end%>   
  <div class="card-body">
    <h5 class="card-title">
      <% @orders.each do |order| %>
        <li>
          <div class="collapsible-header">
            <ul class="row order-display">
              <li class="col m2">email: <%= order.user.email %></li>
              <li class="col m2">Order: <%= order.id %></li>
              <li class="col m2">total: <%= order.total%></li>           
              <li class="col m4"><%= time_ago_in_words(order.created_at, include_seconds: true) + " ago" %></li>
            </ul>
          </div>
          <div class="collapsible-body">
            <% order.items.each do |item| %>      
            <table  class="table table-hover">
              <% coffee = Coffee.find(item.coffee_id) %>
              <% if coffee.present? %>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">name</th>
                      <th scope="col">price</th>
                      <th scope="col">quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><%=link_to "#{coffee.name}", order_path(order.id) %></td>
                      <td><%= coffee.amount %></td>
                      <td><%= item.quantity %></td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            <% end %>
          <% end %>
        </div>  
      </li>
    </h5>
  </div>
</div>

<div class="col-lg-4 offset-lg-10">   
  <%= link_to 'Back', :back, class:"btn btn-secondary" %>
</div><br>
