<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <% if  user_signed_in? %>
      <% if current_user.admin %>
       <%= render 'shared/adminheader' %>     
      <% else %>
       <%= render 'shared/header' %>
      <% end %>
    <%else%>
      <%= render 'shared/welcomeheader' %>
    <%end%>  
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
